@model TutorAppAPI.ViewModel.TutorRegisterViewModel

@{
    ViewData["Title"] = "Tutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .image-container  {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

        .image-container img {
            width: 150px; /* Adjust the size as needed */
            height: 150px; /* Adjust the size as needed */
            border-radius: 50%; /* Make the image circular */
            object-fit: cover; /* Ensure the image covers the circle area */
        }

    #file-input {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
</style>
<form asp-action="Register">
<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-body p-0">
                <div class="bs-stepper">
                    <div class="bs-stepper-header" role="tablist">
                        <!-- your steps here -->
                        <div class="step" data-target="#logins-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                <span class="bs-stepper-circle">1</span>
                                <span class="bs-stepper-label">Account Info</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#tutorpref-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                <span class="bs-stepper-circle">2</span>
                                <span class="bs-stepper-label">Tutor Preferences</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#agencymanager-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                <span class="bs-stepper-circle">3</span>
                                <span class="bs-stepper-label">Education And Qualifications</span>
                            </button>
                        </div>
                        <div class="line"></div>
                        <div class="step" data-target="#information-part">
                            <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                <span class="bs-stepper-circle">4</span>
                                <span class="bs-stepper-label">Profile</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <!-- your steps content here -->
                        <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.Name"></label>
                                        <input type="text" asp-for="AccountInfo.Name" class="form-control" />
                                        <span asp-validation-for="AccountInfo.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.Email"></label>
                                        <input type="text" asp-for="AccountInfo.Email" class="form-control" />
                                        <span asp-validation-for="AccountInfo.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.MobileNumber">Mobile Number:</label>
                                        <input type="text" asp-for="AccountInfo.MobileNumber" class="form-control" />
                                        <span asp-validation-for="AccountInfo.MobileNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.Password">Password:</label>
                                        <input type="password" asp-for="AccountInfo.Password" class="form-control" />
                                        <span asp-validation-for="AccountInfo.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.PasswordConfirm">Confirm Password:</label>
                                        <input type="password" asp-for="AccountInfo.PasswordConfirm" class="form-control" />
                                        <span asp-validation-for="AccountInfo.PasswordConfirm" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.NRIC">NRIC:</label>
                                        <input type="text" asp-for="AccountInfo.NRIC" class="form-control" />
                                        <span asp-validation-for="AccountInfo.NRIC" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.Citizenship">Citizenship:</label>
                                        <input type="text" asp-for="AccountInfo.Citizenship" class="form-control" />
                                        <span asp-validation-for="AccountInfo.Citizenship" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.DateofBirth">Date of Birth:</label>
                                        <input type="date" asp-for="AccountInfo.DateofBirth" class="form-control" />
                                        <span asp-validation-for="AccountInfo.DateofBirth" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.Gender">Gender:</label>
                                        <select id="Gender" name="Gender" asp-for="AccountInfo.Gender" class="form-control">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="AccountInfo.Race">Race:</label>
                                        <input type="text" asp-for="AccountInfo.Race" class="form-control" />
                                        <span asp-validation-for="AccountInfo.Race" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-primary" onclick="stepper.next()">Next</a>
                        </div>

                        <div id="tutorpref-part" class="content" role="tabpanel" aria-labelledby="tutorpref-part-trigger">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-outline card-warning">
                                        <div class="card-header">
                                            <h3 class="card-title"><b>Tutoring Preferences</b></h3>
                                        </div>
                                        <div class="card-header">
                                            <h6 class="card-title text-muted">Subjects You Can Teach</h6>
                                        </div>
                                        
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <p class="card-text text-muted">
                                                Click the tabs to scroll through different levels & select the subjects you can teach
                                            </p>
                                            <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
                                            <div id="accordion">

                                                @foreach (var tutorLevel in Model.TutoringPreferences.TutorLevels)
                                                {
                                                    <div class="card card-secondary">
                                                        <div class="card-header">
                                                            <h4 class="card-title w-100">
                                                                <a class="d-block w-100" data-toggle="collapse" href="#collapse@(tutorLevel._id)">
                                                                    @tutorLevel.LevelName <!-- Use the level name or any other property you want to display -->
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapse@(tutorLevel._id)" class="collapse" data-parent="#accordion">
                                                            <div class="card-body">

                                                                <div class="form-group">
                                                                    @foreach (var subject in Model.TutoringPreferences.TutorSubject.Where(_ => _.TutorLevelID == tutorLevel._id.ToString()))
                                                                    {
                                                                            <div class="form-check form-check-inline">
                                                                                <input for="selectedSubjects" class="form-check-input" type="checkbox" name="selectedSubjects" value="@subject._id.ToString()" id="subject@(subject._id)">
                                                                                <label class="form-check-label" for="selectedSubjects">
                                                                                    @subject.Name
                                                                                </label>
                                                                            </div>
                                                                    }
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <div class="card card-outline card-warning">
                                                <div class="card-header">
                                                    <h3 class="card-title">Experience In Special Needs? (Leave Blank If None)</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-group">

                                                        @foreach (var specialNeed in new[] { "Dyslexia", "Autism Spectrum Disorder (ASD)", "ADHD", "Anger Management", "Slow Learner", "Down Syndrome" })
	                                                    {
	                                                        <div class="form-check form-group form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" name="specialNeeds" for="specialNeeds" value="@specialNeed" id="@specialNeed">
	                                                            <label class="form-check-label" for="specialNeeds">
	                                                                @specialNeed
	                                                            </label>
	                                                        </div>
                                                        }
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="special_needs_experience" class="mb-0 mt-2 d-inline-block">Include:</label>
                                                        <br />
                                                        <p class="small pb-1 pt-2 text-muted d-inline-block"><i class="fa fa-check"></i> No. of special needs student taught and description of their ailment(s)</p><br />
                                                        <p class="small pb-2 text-muted d-md-inline-block"><i class="fa fa-check"></i> What methodologies/strategies you have implemented to teach them effectively</p>
                                                        <textarea cols="70" id="id_special_needs_experience" maxlength="1500" name="textspecialNeedsExperienceDescription" rows="3" class="control-form mt-0"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="card card-outline card-warning">
                                                <div class="card-header">
                                                    <h3 class="card-title"><b>Preferred Tutoring Location(s)</b></h3>
                                                    <br>
                                                    <small>You may select MULTIPLE locations</small>
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        @foreach (var location in Model.TutoringPreferences.Locations)
                                                        {
                                                             <div class="form-check form-group form-check-inline">
                                                                    <input class="form-check-input" type="checkbox" name="locations" for="locations" value="@location.Location" id="@location.Location">
	                                                            <label class="form-check-label" for="locations">
                                                                        @location.Location
	                                                            </label>
	                                                        </div>
                                                        }
                                                    </div>
                                                </div>
                                                </div>

                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                    <a class="btn btn-primary float-left" onclick="stepper.previous()">Previous</a>
                                    <a class="btn btn-primary  float-right" onclick="stepper.next()">Next</a>
                                </div>
                           
                            </div>
                        </div>

                        <div id="agencymanager-part" class="content" role="tabpanel" aria-labelledby="agencymanager-part-trigger">

                            <div class="row">
                                <div class="form-group">
                                        <label asp-for="EducationLevelSelected">Education Level:</label>
                                        <select id="EducationLevelSelected" name="EducationLevelSelected" asp-for="EducationLevelSelected" class="form-control select2" multiple="multiple" data-placeholder="Select a Level">
                                        @foreach (var educationLevel in Model.EducationLevel)
                                        {
                                            <option id="id@(educationLevel._id)" value="@educationLevel.Name">@educationLevel.Name</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                        <label asp-for="TutorCategorySelected">Tutor Category:</label>
                                        <select id="TutorCategorySelected" name="TutorCategorySelected" asp-for="TutorCategorySelected" class="form-control select2" multiple="multiple" data-placeholder="Select a Category">
                                        @foreach (var tutorCategory in Model.TutorCategory)
                                        {
                                            <option id="id@(tutorCategory._id)" value="@tutorCategory.Name">@tutorCategory.Name</option>
                                        }
                                    </select>
                                </div>


                                <div class="card card-outline card-warning">
                                    <div class="row">
                                        <h4><b>Taught at:</b></h4>
                                        <p class="light"><small>Type to search and select from the dropdown menu. If your school is not listed here, leave this blank.</small></p>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label asp-for="TutorSchool">Schools:</label>
                                            <select id="TutorSchools" name="TutorSchools" asp-for="TutorSchool" class="form-control select2" multiple="multiple" data-placeholder="Select a School">
                                                @foreach (var tutorSchools in Model.TutorSchool)
                                                {
                                                    <option id="id@(tutorSchools._id)" value="@tutorSchools.Name">@tutorSchools.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label for="From">From:</label>
                                                <select id="From" name="From" for="From" class="form-control select2" multiple="multiple" data-placeholder="Select a From">
                                                <option id="formop" value="Q">A1</option>
                                            </select>

                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label for="To">To:</label>
                                            <select id="To" for="To" name="To" class="form-control select2" multiple="multiple" data-placeholder="">
                                                <option id="formo" value="Q">A1</option>
                                            </select>
                                    </div>
                                    </div>
                                    <br />
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        <h4>Grades and Qualifications</h4>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <!-- we are adding the accordion ID so Bootstrap's collapse plugin detects it -->
                                        <div id="accordion">
                                            @foreach (var tutorgrade in Model.TutorGrade)
                                            {
                                                <div class="card card-secondary">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100">
                                                            <a class="d-block w-100" data-toggle="collapse" href="#collapse@(tutorgrade._id)">
                                                                @tutorgrade.Name <!-- Use the level name or any other property you want to display -->
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapse@(tutorgrade._id)" class="collapse" data-parent="#accordion">
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label asp-for="SchoolGrade">Schools:</label>
                                                                <select id="SchoolGrade@(tutorgrade._id)" name="TutorSchools" asp-for="SchoolGrade" class="form-control select2" multiple="multiple" data-placeholder="Select a School">
                                                                    @foreach (var tutorSchools in Model.TutorSchool)
                                                                    {
                                                                        <option id="SchoolGradeid@(tutorSchools._id)" value="@tutorSchools.Name">@tutorSchools.Name</option>
                                                                    }
                                                                </select>
                                                                <br />

                                                                
                                                                    <div class="class-header">
                                                                        <h6>Graduation date (can be postdated if still studying):</h6>
                                                                    </div>

                                                                    <div class="row">
                                                                        <label>Date:</label>
                                                                        <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                                                            <input type="date" class="datetimepicker-input" data-target="#reservationdate" />
                                                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                            <div class="col-md-6">
                                                                        <label for="SchoolGradeEnglish">English:</label>
                                                                        <select id="SchoolGrade" name="TutorSchoolsGrade" for="SchoolGradeEnglish" class="form-control select2" data-placeholder="Select a Value">
                                                                                    @foreach (var gradeValues in Model.EducationAndQualifications.TutorGradeValues)
                                                                                    {
                                                                                        <option id="@gradeValues._id" value="@gradeValues.Name">@gradeValues.Name</option>
                                                                                    }
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                            <label for="idMath">Math</label>
                                                                        <select id="idMath" name="idMath_@tutorgrade._id.ToString()" for="idMath_@tutorgrade._id.ToString()"
                                                                                class="form-control select2" data-placeholder="Select a Value">
                                                                                    @foreach (var gradeValues in Model.EducationAndQualifications.TutorGradeValues)
                                                                                    {
                                                                                        <option id="@gradeValues._id" value="@gradeValues.Name">@gradeValues.Name</option>
                                                                                    }
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                             <label for="idScience">Science</label>
                                                                             <select id="idSciencepsle" name="idScience_@tutorgrade._id.ToString()" for="idScience_@tutorgrade._id.ToString()"
                                                                                class="form-control select2" data-placeholder="Select a Value">
                                                                                    @foreach (var gradeValues in Model.EducationAndQualifications.TutorGradeValues)
                                                                                    {
                                                                                        <option id="@gradeValues._id" value="@gradeValues.Name">@gradeValues.Name</option>
                                                                                    }
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                        <label for="idChinese">Chinese</label>
                                                                        <select id="idChinese" name="idChinese_@tutorgrade._id.ToString()" for="idChinese_@tutorgrade._id.ToString()"
                                                                                class="form-control select2" data-placeholder="Select a Value">
                                                                                    @foreach (var gradeValues in Model.EducationAndQualifications.TutorGradeValues)
                                                                                    {
                                                                                        <option id="@gradeValues._id" value="@gradeValues.Name">@gradeValues.Name</option>
                                                                                    }
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                        <label for="idHigherChinese">Higher Chinese</label>
                                                                        <select id="idHigherChinese" name="idHigherChinese_@tutorgrade._id.ToString()" for="idHigherChinese_@tutorgrade._id.ToString()"
                                                                                class="form-control select2" data-placeholder="Select a Value">
                                                                                    @foreach (var gradeValues in Model.EducationAndQualifications.TutorGradeValues)
                                                                                    {
                                                                                        <option id="@gradeValues._id" value="@gradeValues.Name">@gradeValues.Name</option>
                                                                                    }
                                                                                </select>
                                                                            </div>

                                                                          

                                                                   </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-primary float-left" onclick="stepper.previous()">Previous</a>
                            <a class="btn btn-primary  float-right" onclick="stepper.next()">Next</a>
                            <br />
                        </div>

                        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                            <div class="card card-outline card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">Profile And Experiences</h3>
                                </div>

                                <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputFile">Profile Image</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="userInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose Picture</label>
                                            </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                     </div>
                                    </div>
                                  </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="card card-primary card-outline">
                                            <div class="card-body box-profile">
                                                <div class="text-center">
                                                    <div class="image-container img-fluid img-circle" id="image-container"></div>
                                                </div>
                                            </div>
                                      </div>
                                  </div>
                                        <div class="col-md-8">
                                            <p>Maximum file size of 100 MB, if your file size is too big, 
                                                try resizing it smaller using Paint. Or, use an online image compressor tool.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card card-outline card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">Experiences</h3>
                                </div>

                                <div class="card-body">
                                    <p class="text-muted"><small>A better portfolio will increase your chances of getting assignments.
                                        </small></p>
                                    <p class="text-muted"><small>Please include:</small></p>
                                    <p class="text-muted"><small>- Years of tutoring experience, number of students taught & their improvements</small></p>
                                    <p class="text-muted"><small>- Relevant subject grades</small></p>
                                    <p class="text-muted"><small>- Relevant subject grades</small></p>
                                    <p class="text-muted"><small>- Other teaching experiences or academic achievements (tuition centre, relief teaching, Dean's list, scholarship etc.)</small></p>
                                    <textarea cols="70" id="id_experience" maxlength="1500" name="id_experience" rows="3" class="control-form mt-0"></textarea>
                                    <p class="text-muted">
                                        <small>Note: Upon demand, you may need to show evidence to support your portfolio. If you leave this blank, it will be difficult to match you with assignments. Please avoid writing a long description of your passion in teaching. Be concise and succinct.</small>
                                    </p>
                                </div>
                            </div>

                             <div class="card card-outline card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Upload Documents
                                    </h3>
                                </div>

                                <div class="card-body">
                                    <p class="text-muted">
                                        <small>
                                            You are STRONGLY encouraged to upload your documents. Our coordinators will prioritize shortlisting tutors who have provided us with verified credentials
                                        </small>
                                    </p>
                                    <p class="text-muted">
                                        <small>
                                            Please upload the following documents:
                                        </small>
                                    </p>
                                    <p class="text-muted"><small>- Years of tutoring experience, number of students taught & their improvements</small></p>
                                    <p class="text-muted">
                                        <small>
                                            - Result slips: for subjects that you want to teach
                                        </small>
                                    </p>
                                    <p class="text-muted">
                                        <small>
                                            - Graduation certs: for your diploma/degrees
                                        </small>
                                    </p>
                                    <p class="text-muted">
                                        <small>
                                            - NIE Certs/Teacher's Pass: for MOE teachers
                                        </small>
                                    </p>
                                    <p class="text-muted">
                                        <small>
                                            Note: Limit of 5 files (image or PDF files, each with ~100MB file size limit)
                                        </small>
                                    </p>
                                    <p class="text-muted">
                                        <small>
                                            We will not send your certificates to third parties without your consent. Click <a href="">here</a> to our privacy policy
                                        </small>
                                    </p>
                                </div>

                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" multiple class="custom-file-input" id="certInputFile">
                                                <label class="custom-file-label" for="certInputFile">Choose files</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text">Upload</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card card-primary card-outline">
                                                <div class="card-body box-profile">
                                                    <div class="text-center">
                                                        <div class="image-container img-fluid img-circle" id="image-container-cert"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" onclick="stepper.previous()">Previous</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
</form>

<script>
    document.getElementById('userInputFile').addEventListener('change', function (event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var imageContainer = document.getElementById('image-container');
                imageContainer.innerHTML = '<img src="' + e.target.result + '" alt="Uploaded Image">';
            };
            reader.readAsDataURL(file);
        }
    });

    document.getElementById('certInputFile').addEventListener('change', function (event) {
        var files = event.target.files;
        var imageContainer = document.getElementById('image-container-cert');
        imageContainer.innerHTML = ''; // Clear the container before adding new images

        Array.from(files).forEach(function (file) {
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.alt = 'Uploaded Image';
                    imageContainer.appendChild(img);
                };
                reader.readAsDataURL(file);
            }
        });
    });
    
</script>