@using TutorAppAPI.ViewModel
@model IEnumerable<AssignmentReadViewModel>

@{
    ViewData["Title"] = "Assignment";
}
@using System.Security.Claims
@using TutorAppAPI.Helpers
@{
    var user = User;
    var isAdmin = user.IsInRole(UserConstants.AdminRole);
    var isTutor = user.IsInRole(UserConstants.TutorRole);
    var isParent = user.IsInRole(UserConstants.ParentDetails);
}

<h2 class="mb-3">Assignments</h2>
@if (isParent)
{
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assignmentModal" data-url="@Url.Action("Create", "Assignment")">Create New Assignment</button>
}
@if (isTutor)
{
    @* <form asp-action="Index" method="get" class="mb-3">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="tutorType">Tutor Type</label>
                <select id="tutorType" name="Filter.TutorType" class="form-control">
                    <option value="">All</option>
                    <option value="Type1" @(Model.Filter.TutorType == "Type1" ? "selected" : "")>Type1</option>
                    <option value="Type2" @(Model.Filter.TutorType == "Type2" ? "selected" : "")>Type2</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="gender">Gender</label>
                <select id="gender" name="Filter.Gender" class="form-control">
                    <option value="">All</option>
                    <option value="Male" @(Model.Filter.Gender == "Male" ? "selected" : "")>Male</option>
                    <option value="Female" @(Model.Filter.Gender == "Female" ? "selected" : "")>Female</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="location">Location</label>
                <select id="location" name="Filter.Location" class="form-control">
                    <option value="">All</option>
                    @foreach (var zone in Model.Filter.AvailableZones)
                    {
                        <option value="@zone" @(Model.Filter.Location == zone ? "selected" : "")>@zone</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="subjects">Subjects</label>
                <select id="subjects" name="Filter.Subjects" class="form-control">
                    <option value="">All</option>
                    @foreach (var subject in Model.Filter.AvailableSubjects)
                    {
                        <option value="@subject.Name" @(Model.Filter.Subjects == subject.Name ? "selected" : "")>@subject.Name</option>
                    }
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form> *@
}

<div class="card card-solid">
    <div class="card-body pb-0">
        <div class="row">
            <div id="modalContainer">
                <h5>
                        @if (!Model.Any()) {
                        <b>
                            No Assignments for this selected subjects !!!
                        </b>
                        }                    
                </h5>
            </div>
        </div>
        <div class="row">
            @foreach (var assignment in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    <div class="card-header text-muted border-bottom-0">
                            @assignment._id.ToString().Substring(assignment._id.ToString().Length - 7).ToUpper()
                            <span class="">
                                <small class="bg-danger">Urgent</small>
                            </span>
                            <span class="float-right">
                            <i class="fa fas fa-share"></i>
                            </span>
                    </div>
                       
                    <div class="card-body pt-0">
                        <div class="row">
                            <div class="col-12">
                                    <h2 class="lead"><b>@assignment.SubjectsToBeTutored</b></h2>
                                    <p class="text-muted text-sm"><b></b>@assignment.TutorAvailability @assignment.AvailableTimings</p>
                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span># @assignment.Address</li>
                                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-times-rectangle"></i></span>@assignment.FrequencyOfLessons</li>
                                </ul>
                                    <p><small>$ @assignment.YourTuitionBudget</small></p>
                                    <p><small>@assignment.DescriptionOfNeeds</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                                @if (isTutor)
                                {
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#createEditPopup" onclick="loadCreateForm('@assignment._id.ToString()')">
                                        <i class="fas fa-comment"></i> Apply
                                    </button>

                                }
                                @if (isParent) {
                                    <p>
                                        @if (assignment.IsVerified) {<i class="fas fa-anchor"></i>
                                            <small>Assignment Posted Sucessfully</small>
                                            <a asp-controller="Assignment" asp-action="ViewApplicants" asp-route-id="@assignment._id.ToString()" class="btn btn-primary">
                                                <i class="fas fa-list-ol"></i>
                                                <span class="badge badge-danger navbar-badge">2</span>View Applications
                                            </a>
                                        }
                                        else
                                        {
                                            <i class="fa fas fa-archive"></i>
                                            <small> Verification Pending</small>
                                        }
                                    </p>
                                }
                                @if (isAdmin)
                                {
                                    <a href="#" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> Approve
                                    </a>
                                    <a asp-controller="Assignment" asp-action="ViewApplicants" asp-route-id="@assignment._id.ToString()">View Applications </a>
                                }                               
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- /.card-footer -->
</div>


<!-- Create/Edit Modal -->
<div class="modal fade" id="assignmentModal" tabindex="-1" role="dialog" aria-labelledby="assignmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignmentModalLabel">Assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="assignmentModalContent"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#assignmentModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var url = button.data('url'); // Extract info from data-* attributes
            var modal = $(this);
            $.get(url, function (data) {
                modal.find('#assignmentModalContent').html(data);
            });
        });

        function loadCreateForm(assignmentId) {
            debugger
            $.get('@Url.Action("Create", "AssignmentApplied")', { id: assignmentId }, function (data) {
                $('#modalContainer').html(data);
                $('#createPopup').modal('show');
            });
        }

    </script>
}
